<div class="add-medicine-page">
  <div class="form-card">

    <div class="form-header">
  <h2>➕ Add New Medicine</h2>
  <a routerLink="/admin/dashboard" class="back-link">← Back to Dashboard</a>
</div>

    <!-- Message -->
    <div class="success-msg" *ngIf="message && isSuccess">{{ message }}</div>
    <div class="error-msg"   *ngIf="message && !isSuccess">{{ message }}</div>

    <div class="form-group">
      <label>Medicine Name *</label>
      <input type="text" [(ngModel)]="medicine.name"
        placeholder="e.g. Dolo 650" class="form-input" />
    </div>

    <div class="form-group">
      <label>Category</label>
      <input type="text" [(ngModel)]="medicine.category"
        placeholder="e.g. Painkiller" class="form-input" />
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Price (₹) *</label>
        <input type="number" [(ngModel)]="medicine.price"
          placeholder="e.g. 30" class="form-input" />
      </div>
      <div class="form-group">
        <label>Stock *</label>
        <input type="number" [(ngModel)]="medicine.stock"
          placeholder="e.g. 500" class="form-input" />
      </div>
    </div>

    <div class="form-group">
      <label>Expiry Date</label>
      <input type="date" [(ngModel)]="medicine.expiry_date"
        class="form-input" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" [(ngModel)]="medicine.description"
        placeholder="Brief description" class="form-input" />
    </div>

    <div class="form-actions">
  <button class="submit-btn" (click)="addMedicine()" [disabled]="isLoading">
    {{ isLoading ? 'Adding...' : 'Add Medicine' }}
  </button>
  <a routerLink="/admin/medicines" class="view-btn">
    View All Medicines
  </a>
  <a routerLink="/admin/dashboard" class="back-btn-bottom">
    ← Dashboard
  </a>
</div>

  </div>
</div>